<div class="overflow-auto d-flex align-items-center justify-content-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #a7ffcd;" >
    <div class="container py-4 mb-5" style="background-color: #a7ffcd;">
        <div *ngIf="(lastSavedTime!='')" class="d-flex justify-content-center rounded border-success bg-white">
            <h3 class="text-success">Scenario Saved successfully at {{lastSavedTime}}.</h3>
            <img src="assets\gifs\check.gif" alt="CHECK" style="float: right; margin-left: 10px;">
        </div>
        <div *ngIf="(eduProg!='')">
            <h5 style="align-self: flex-start;">Βρες το πρόγραμμα σπουδών της {{scenario.eduProg}} <a href="{{eduProg}}" target="_blank">εδώ</a>.</h5>
        </div>
        
        <form style="background-color: #008037;" class="rounded p-4">
            
            <div *ngIf="page==1">
                <h3>Βασικές πληροφορίες σεναρίου (1/10)</h3>
                <div class="mb-1">
                    <label for="title" class="form-label">Τίτλος</label>
                    <input type="text" class="form-control" id="title" name="title" ngbTooltip="ΒΕΒΑΙΩΘΕΙΤΕ ΟΤΙ Ο ΤΙΤΛΟΣ ΕΙΝΑΙ ΜΟΝΑΔΙΚΟΣ! Σενάρια με ίδιο τίτλο ΑΝΤΙΚΑΘΙΣΤΟΝΤΑΙ μόλις αποθηκεύονται!" triggers="focus" [(ngModel)]="scenario.title">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[0]" (click)="showTip(0)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[0]" (click)="hideTip(0)">Hide TIP</button>
                    </div>
                    
                </div>
                <div class="mb-1">
                    <label for="duration" class="form-label">Εκτιμώμενη Διάρκεια</label>
                    <input type="text" class="form-control" id="duration" name="duration" ngbTooltip="Πόσο θα διαρκέσει το Σενάριο;" triggers="focus" [(ngModel)]="scenario.duration">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[1]" (click)="showTip(1)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[1]" (click)="hideTip(1)">Hide TIP</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="eduProg" class="form-label">Τάξη</label>
                    <small class="text-white">   (Επιλέξτε για ποια Τάξη προορίζεται το Σενάριό σας.)</small>
                    <select class="form-control" id="eduProgDropdown" name="eduProgDropdown" [(ngModel)]="scenario.eduProg" (change)="onSelect()">
                        <option value="">Διαλέξτε Τάξη</option>
                        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
                        </select>
                </div>
            </div>

            <div *ngIf="page == 2">
                <h3>Περιγραφή Στόχων σεναρίου (2/10)</h3>
                <div class="mb-3">
                    <label for="goals" class="form-label">Στόχοι</label>
                    <small class="text-white">   (Επιλέξτε το πεδίο του κάθε στόχου και περιγράψτε έναν βασικό και προαιρετικά και έναν δευτερεύοντα στόχο του Σεναρίου σας.)</small>
                    <div>
                        <label><i>Διαλέξτε σε τι βαθμίδα της ταξινομίας bloom θα θέλατε να απευθύνoνται οι στόχοι του σεναρίου σας.</i></label>
                        <select class="form-control" style="width: 150px" id="BloomDropdown" name="BloomDropdown" [(ngModel)]="scenario.BloomTaxonomy" (change)="onBloomChange()">
                            <option value="">Ταξινομία Bloom</option>
                            <option *ngFor="let level of bloom" [value]="level.value">{{ level.label }}</option>
                        </select>
                        <small class="text-black card p-2 py-1" style="background-color: rgb(233, 229, 229);">{{goalsTip}}</small>
                    </div>
                    <div class="row form-group py-1">
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label" for="knowledgeGoalsCheck">Γνώση</label>
                                <input type="checkbox" class="form-check-input" id="knowledgeGoalsCheck" name="knowledgeGoalsCheck" [(ngModel)]="scenario.knowledgeGoalsCheck">
                            </div>
                        </div>
                        <div class="col-sm-10" *ngIf="scenario.knowledgeGoalsCheck == true">
                            <textarea class="form-control" id="knowledgeGoals" rows="5" name="knowledgeGoals" [(ngModel)]="scenario.knowledgeGoals"></textarea>
                        </div>
                      </div>
                      <div class="row form-group py-1">
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label" for="skillGoalsCheck">Δεξιότητες</label>
                                <input type="checkbox" class="form-check-input" id="skillGoalsCheck" name="skillGoalsCheck" [(ngModel)]="scenario.skillGoalsCheck">
                            </div>
                        </div>
                        <div class="col-sm-10" *ngIf="scenario.skillGoalsCheck == true">
                            <textarea class="form-control" id="skillGoals" rows="5" name="skillGoals" [(ngModel)]="scenario.skillGoals"></textarea>
                        </div>
                      </div>
                      <div class="row form-group py-1">
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label" for="behaviourGoalsCheck">Στάσεις & Συμπεριφορές</label>
                                <input type="checkbox" class="form-check-input" id="behaviourGoalsCheck" name="behaviourGoalsCheck" [(ngModel)]="scenario.behaviourGoalsCheck">
                            </div>
                        </div>
                        <div class="col-sm-10" *ngIf="scenario.behaviourGoalsCheck == true">
                            <textarea class="form-control" id="behaviourGoals" rows="5" name="behaviourGoals" [(ngModel)]="scenario.behaviourGoals"></textarea>
                        </div>
                      </div>
                    <small class="text-danger"><b>ΠΡΟΣΟΧΗ!!! Οι στόχοι θα πρέπει να είναι συνοπτικοί, μη βερμπαλιστικοί, επαρκώς ορισμένοι και ρεαλιστικοί σε σχέση με τα πλαίσια του μαθήματος (γνωστικό επίπεδο μαθητών, διάρκεια μαθήματος, διαθέσιμο λογισμικό)!</b></small>
                </div>
            </div>

            <div *ngIf="page == 3">
                <h3>Περιγραφή Σεναρίου (3/10)</h3>
                <div class="mb-1">
                    <label for="description" class="form-label">Συνοπτική Περιγραφή</label>
                    <textarea class="form-control" id="description" rows="6" name="description" [(ngModel)]="scenario.description"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[2]" (click)="showTip(2)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[2]" (click)="hideTip(2)">Hide TIP</button>
                    </div>
                </div>
                <div class="mb-1">
                    <label for="sciApproach" class="form-label">Επιστημολογική Προσέγγιση</label>
                    <textarea class="form-control" id="sciApproach" rows="6" name="sciApproach" [(ngModel)]="scenario.sciApproach"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[3]" (click)="showTip(3)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[3]" (click)="hideTip(3)">Hide TIP</button>
                    </div>
                </div>
            </div>

            <div *ngIf="page == 4">
                <h3>Περιγραφή Σεναρίου (4/10)</h3>
                <div class="mb-1">
                    <label for="connections" class="form-label">Διασυνδέσεις Εννοιών και Δραστηριοτήτων</label>
                    <textarea class="form-control" id="connections" rows="6" name="connections" [(ngModel)]="scenario.connections"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[4]" (click)="showTip(4)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[4]" (click)="hideTip(4)">Hide TIP</button>
                    </div>
                </div>
                <div class="mb-1">
                    <label for="multiApproach" class="form-label">Πολλαπλές Αναπαραστάσεις και Προσεγγίσεις</label>
                    <textarea class="form-control" id="multiApproach" rows="6" name="multiApproach" [(ngModel)]="scenario.multiApproach"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[5]" (click)="showTip(5)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[5]" (click)="hideTip(5)">Hide TIP</button>
                    </div>
                </div>
            </div>

            <div *ngIf="page == 5">
                <h3>Περιγραφή Σεναρίου (5/10)</h3>
                <div class="mb-1">
                    <label for="difficulties" class="form-label">Πρόβλεψη Δυσκολιών</label>
                    <textarea class="form-control" id="difficulties" rows="6" name="difficulties" [(ngModel)]="scenario.difficulties"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[6]" (click)="showTip(6)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[6]" (click)="hideTip(6)">Hide TIP</button>
                    </div>
                </div>
                <div class="mb-1">
                    <label for="toolJusti" class="form-label">Αιτιολόγηση Εργαλείων</label>
                    <textarea class="form-control" id="toolJusti" rows="6" name="toolJusti" [(ngModel)]="scenario.toolJusti"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[7]" (click)="showTip(7)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[7]" (click)="hideTip(7)">Hide TIP</button>
                    </div>
                </div>
            </div>
            
            <div *ngIf="page == 6">
                <h3>Περιγραφή Σεναρίου (6/10)</h3>
                <div class="mb-1">
                    <label for="noise" class="form-label">Διδακτικός Θόρυβος</label>
                    <textarea class="form-control" id="noise" rows="6" name="noise" [(ngModel)]="scenario.noise"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[8]" (click)="showTip(8)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[8]" (click)="hideTip(8)">Hide TIP</button>
                    </div>
                </div>
                <div class="mb-1">
                    <label for="sources" class="form-label">Εξωτερικές Πηγές</label>
                    <textarea class="form-control" id="sources" rows="6" name="sources" [(ngModel)]="scenario.sources"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[9]" (click)="showTip(9)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[9]" (click)="hideTip(9)">Hide TIP</button>
                    </div>
                </div>
            </div>

            <div *ngIf="page == 7">
                <h3>Περιγραφή Σεναρίου (7/10)</h3>
                <div class="mb-1">
                    <label for="method" class="form-label">Υποκειμενική Θεωρία Μάθησης</label>
                    <textarea class="form-control" id="method" rows="4" name="method" [(ngModel)]="scenario.method"></textarea>
                    <small>Μπορείτε να βρείτε τις υποκειμενικές θεωρίες μάθησης <a href="https://el.wikipedia.org/wiki/%CE%98%CE%B5%CF%89%CF%81%CE%AF%CE%B5%CF%82_%CE%BC%CE%AC%CE%B8%CE%B7%CF%83%CE%B7%CF%82_(%CE%B5%CE%BA%CF%80%CE%B1%CE%AF%CE%B4%CE%B5%CF%85%CF%83%CE%B7)" target="_blank">εδώ</a>.</small>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[10]" (click)="showTip(10)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[10]" (click)="hideTip(10)">Hide TIP</button>
                    </div>
                </div>
                <div class="mb-1">
                    <label for="microChanges" class="form-label">Μικρομεταβολές</label>
                    <textarea class="form-control" id="microChanges" rows="6" name="microChanges" [(ngModel)]="scenario.microChanges"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[11]" (click)="showTip(11)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[11]" (click)="hideTip(11)">Hide TIP</button>
                    </div>
                </div>
            </div>

            <div *ngIf="page == 8">
                <h3>Περιγραφή Σεναρίου (8/10)</h3>
                <div class="mb-1">
                    <label for="consensus" class="form-label">Διδακτικό Συμβόλαιο</label>
                    <textarea class="form-control" id="consensus" rows="6" name="consensus" [(ngModel)]="scenario.consensus"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[12]" (click)="showTip(12)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[12]" (click)="hideTip(12)">Hide TIP</button>
                    </div>
                </div>
                <div class="mb-1">
                    <label for="classOrg" class="form-label">Οργάνωση Τάξης κι Εφικτότητα</label>
                    <textarea class="form-control" id="classOrg" rows="6" name="classOrg" [(ngModel)]="scenario.classOrg"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[13]" (click)="showTip(13)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[13]" (click)="hideTip(13)">Hide TIP</button>
                    </div>
                </div>
                
                
            </div>

            <div *ngIf="page == 9">
                <h3>Φύλλα Εργασίας (9/10)</h3>
                <div class="mb-1">
                    <label for="activityEllaboration" class="form-label">Ανάλυση Φύλλων Εργασίας</label>
                    <textarea class="form-control" id="activityEllaboration" rows="10" name="activityEllaboration" [(ngModel)]="scenario.activityEllaboration"></textarea>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start py-1">
                        <button type="button" class="btn btn-sm btn-show me-md-2" *ngIf="!showTipButtonList[14]" (click)="showTip(14)">Give me a TIP</button>
                        <button type="button" class="btn btn-sm btn-hide me-md-2" *ngIf="showTipButtonList[14]" (click)="hideTip(14)">Hide TIP</button>
                    </div>
                </div>
            </div>

            <div *ngIf="page == 10">
                <h3>Αυτοαξιολόγηση (10/10)</h3>
                <small class="text-white"> Το βήμα αυτό αναφέρεται στην μετέπειτα αξιολόγηση και αναθεωρήσεις του Διδακτικού Σεναρίου.</small>
                <div class="mb-3">
                    <label for="evaluation" class="form-label">Αξιολόγηση Διδακτικού Σεναρίου</label>
                    <textarea class="form-control" id="evaluation" rows="6" name="evaluation" [(ngModel)]="scenario.evaluation"></textarea>
                </div>
                <div class="mb-3">
                    <label for="reflection" class="form-label">Αναστοχασμός</label>
                    <textarea class="form-control" id="reflection" rows="6" name="reflection" [(ngModel)]="scenario.reflection"></textarea>
                </div>
            </div>

            <div class="text-black card p-2 py-1 rounded mb-1" style="background-color: rgb(233, 229, 229);" *ngIf="tip != ''">
                <label><i>TIP</i></label>
                <small>{{tip}}</small>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-info me-md-2" *ngIf="page != 1" (click)="onClickNextPrevious('previous')">Previous</button>
                <button type="button" class="btn btn-primary me-md-2" *ngIf="page != 10" (click)="onClickNextPrevious('next')">Next</button>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-word me-md-2" (click)="downloadAsDOCX()">Export DOCX</button>
                <button type="button" class="btn btn-danger me-md-2" (click)="downloadAsPDF()">Export PDF</button>
                <button type="button" class="btn btn-primary me-md-2" (click)="saveButton()" [ngStyle]="{'opacity': buttonOpacity}">{{saveBtnText}}</button>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-info me-md-3 " routerLink="/login" [ngStyle]="{'visibility': buttonVisibility}">Log In Here</button>
            </div>

            <div *ngIf="(lastSavedTime!='')" class="d-grid gap-2 d-md-flex justify-content-md-start">
                <div class="ms-4">
                    <button type="button" class="btn btn-info" routerLink="/savedScenarios">Inspect Saved Scenarios</button>
                </div>
            </div>

        </form>
    </div>
</div>
