<div style="background-color: #a7ffcd; height: 100vh; overflow: auto;" >
   <div class="row  justify-content-md-center">
    <div class="col-md-4 mt-5">
        <h1>Καλώς ορίσατε στο DIDACTICUS!</h1><br>
        <h5 class="fs-6" style="opacity: 50%;">Μπορείτε να συνδεθείτε εδώ χρησιμοποιώντας το email και τον κωδικό πρόσβασής σας.</h5>
    </div>
   </div>
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-3 mb-5">
        <form>
            <h3 class="text-primary mb-3">Σύνδεση</h3>
    
            <div class="mb-3">
              <input type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp" name="email" [(ngModel)]="email">
              <div id="emailHelp" class="form-text">Παρακαλώ εισάγετε το Email με το οποίο είχατε κάνει εγγραφή.</div>
            </div>
    
            <div class="mb-3">
              <input type="password" class="form-control" id="password" placeholder="Κωδικός" name="password" [(ngModel)]="password">
              <a routerLink="/forgotPass" class="text-danger">Ξεχάσατε τον Κωδικό;</a>
            </div>
    
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary me-md-2" (click)="login()">Σύνδεση</button>
            </div>
    
            <a class="btn btn-link" (click)="redirectToSignUp()">Δεν έχετε εγγραφεί ακόμα;</a>
                  
          </form>
    </div>
    <div class="col-md-4"></div>
   </div>
    
</div>
