<div class="h-100 d-flex align-items-center justify-content-center" style="background-color: #a7ffcd;" >
    <div>
        <div *ngIf="usernameExists" class="welcomeBanner" [@fade]>
            <h1>Καλωσήρθες, {{username}}!</h1>
            <h3>Πώς μπορούμε να σε βοηθήσουμε σήμερα;</h3>
        </div>
        <hr class="hr hr-blurry" />
        <table class="d-flex justify-content-center">
            <tr>
                <td></td>
                <td><button type="button" class="btn btn-info" routerLink="/savedScenarios">ΣΕΝΑΡΙΑ ΜΟΥ</button></td>
                <td></td>
                <td><button type="button" class="btn btn-lg btn-success" routerLink="/newScenario">ΔΗΜΙΟΥΡΓΙΑ ΝΕΟΥ ΣΕΝΑΡΙΟΥ</button></td>
                <td></td>
            </tr>
        </table>
        <hr class="hr hr-blurry" />
        <div>
            <h5>Αν θα ήθελες να μας βοηθήσεις να κάνουμε το DIDACTICUS καλύτερο για σένα, πάτα <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2uMTIUCA9omqSseYHFS9uaUn5l72Kd3rLjpgK_yyyPaurDg/viewform?usp=sf_link" target="_blank">εδώ</a>!</h5>
        </div>
    </div>
</div>