<div class="h-100 d-flex align-items-center justify-content-center" style="background-color: #a7ffcd;" >
    <div>
        <div style="text-align: center;">
            <h1>Welcome to <b>DIDACTICUS</b>!</h1>
            <h3>
                An electronic platform for creating teaching scenarios.
            </h3>
            <br>
            <h5>
                Continue by creating a new teaching scenario 
                or log in to be able to save your new scenarios 
                and revisit previous scenarios you 
                created using our application!
            </h5>
        </div>
        <hr class="hr hr-blurry" />
        <div class="d-flex justify-content-center align-items-center">
            <table>
                <tr>
                    <td></td>
                    <td><button type="button" class="btn btn-info" (click)="LogInButton()">LOG IN</button></td>
                    <td></td>
                    <td><button type="button" class="btn btn-lg btn-success" routerLink="newScenario">CREATE SCENARIO (as a guest)</button></td>
                    <td></td>
                </tr>
            </table>
        </div>
        
        <hr class="hr hr-blurry" />
    </div>
</div>