<div class="h-100 d-flex align-items-center justify-content-center" style="background-color: #a7ffcd;" >
    <div>
        <div style="text-align: center;">
            <h1>Καλώς ορίσατε στο <b>DIDACTICUS</b>!</h1>
            <h3>
                Μια ηλεκτρονική πλατφόρμα για τη δημιουργία εκπαιδευτικών σεναρίων.
            </h3>
            <br>
            <h5>
                Συνεχίστε δημιουργώντας ένα νέο εκπαιδευτικό σενάριο
                ή συνδεθείτε για να μπορείτε να αποθηκεύετε τα νέα σενάρια που δημιουργείτε
                 και να επισκέπτεστε τα προηγούμενα σενάρια που δημιουργήσατε
                  χρησιμοποιώντας την εφαρμογή μας!
            </h5>
        </div>
        <hr class="hr hr-blurry" />
        <div class="d-flex justify-content-center align-items-center">
            <table>
                <tr>
                    <td></td>
                    <td><button type="button" class="btn btn-info" (click)="LogInButton()">ΣΥΝΔΕΣΗ</button></td>
                    <td></td>
                    <td><button type="button" class="btn btn-lg btn-success" routerLink="newScenario">Δημιουργία νέου Σεναρίου (ως guest)</button></td>
                    <td></td>
                </tr>
            </table>
        </div>
        
        <hr class="hr hr-blurry" />
    </div>
</div>