<div class="h-100 d-flex align-items-center justify-content-center p-5" style="overflow: auto; background-color: #a7ffcd;" >
  <div class="rounded p-4" style="background-color: #008037;">
    <div *ngIf="(loading)" class="d-flex justify-content-center rounded border-success bg-white">
      <h3 class="p-2">Loading your scenarios...Please wait!</h3>
      <img src="assets\gifs\loading.gif" alt="LOADING..." style="float: right; margin-left: 10px;">
  </div>
  <div *ngIf="(!loading)">
    <div class="card row-1 mb-1">
      <div class="card-body">
        <span *ngIf="(userSavedScenarios.length != 0)">Scenario Title</span>
        <h3 *ngIf="(userSavedScenarios.length == 0)">You haven't saved any Scenarios yet! Try creating a new one!</h3>
      </div>
    </div>

    <div class="row-1 mb-1" *ngFor="let ScenarioTitle of savedScenariosTitles; let i = index">
      <div class="card">
        <div class="card-body d-flex justify-content-between align-items-center p-1">
          <span class="me-4">{{i+1}}. {{ScenarioTitle}}</span>
          <div class="ms-4">
            <button type="button" class="btn btn-outline-danger btn-sm me-2" (click)="delete(i)">Delete</button>
            <button type="button" class="btn btn-danger me-2" (click)="getPDF(i)">To PDF</button>
            <button type="button" class="btn btn-primary" (click)="openScenario(i)">Modify Scenario</button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-info me-md-2" routerLink="/newScenario">Create New Scenario</button>
    </div>
  </div>
</div>