<div style="background-color: #a7ffcd; height: 100vh; overflow: auto;" >
    <div *ngIf="sent" class="d-flex justify-content-center rounded border-success bg-white">
        <h4 class="text-success p-4">Το Email Επαλήθευσης στάλθηκε με επιτυχία! Επισκεφθείτε τη διεύθυνση Email σας για να αλλάξετε κωδικό πρόσβασής.</h4>
        <img src="assets\gifs\check.gif" alt="CHECK" style="float: right; margin-left: 10px;">
    </div>
    <div class="row">
     <div class="col-md-4"></div>
     <div class="col-md-4 mt-3 mb-5">
         <form>
             <h3 class="text-primary mb-3">Ξέχασα τον Κωδικό</h3>
     
             <div class="mb-3">
               <input type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp" name="email" [(ngModel)]="email">
               <div id="emailHelp" class="form-text">Παρακαλώ εισάγετε το Εmail με το οποίο έχετε κάνει εγγραφή.</div>
               <small>Εκεί θα λάβετε ένα email με link για επαναφορά κωδικού πρόσβασής.</small>
             </div>
     
             <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                 <button type="button" class="btn btn-primary me-md-2" (click)="forgotPass()">Αποστολή Email Επαναφοράς Κωδικού Πρόσβασης</button>
             </div>
     
             <a routerLink="/signup" class="text-primary">Δεν έχετε εγγραφεί ακόμα;</a>      
           </form>
     </div>
     <div class="col-md-4"></div>
    </div>
     
 </div>