<div class=" h-100 container-fluid" style="background-color: #a7ffcd;" >
    <div *ngIf="sent" class="d-flex justify-content-center rounded border-success bg-white">
        <h3 class="text-success">The Verification Email was sent! Visit your email address to change your password.</h3>
        <img src="assets\gifs\check.gif" alt="CHECK" style="float: right; margin-left: 10px;">
    </div>
    <div class="row">
     <div class="col-md-4"></div>
     <div class="col-md-4 mt-3 mb-5">
         <form>
             <h3 class="text-primary mb-3">Forgot Password</h3>
     
             <div class="mb-3">
               <input type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp" name="email" [(ngModel)]="email">
               <div id="emailHelp" class="form-text">Please enter the Email that you Signed Up with.</div>
               <small>There you will receive an email with a link to reset your password.</small>
             </div>
     
             <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                 <button type="button" class="btn btn-primary me-md-2" (click)="forgotPass()">Send Password Reset Email</button>
             </div>
     
             <a routerLink="/signup" class="text-primary">Haven't Signed Up yet?</a>      
           </form>
     </div>
     <div class="col-md-4"></div>
    </div>
     
 </div>